<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Krusty Burger</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    {{{body}}}
</body>

<style>
    *{
        text-align: center;
        margin: 0 auto;
    }

    .profile-pic {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
</style>

</html>