<div class="image-cropper">
    <img src="https://vignette.wikia.nocookie.net/simpsons-restaurants/images/5/5c/Krusty_Burger.png/revision/latest?cb=20131028010721"
        alt="avatar" class="profile-pic">
</div>

<h1>Welcome!</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <p>Be sure to participate in our Krusty Burger Olympic Sweepstakes! Just scratch off the name of the Olympic
                event on your game card, and if America wins a gold medal, YOU win a free Krusty Burger!</p>

        </div>

    </div>
</div>

<div class="createburger">
<h2>Add a burger</h2>

<form class="burgerForm">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="newburger">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>

<div class="noteaten">
<div height="500px"></div>
<ul>
  {{#each menu}}
    {{#unless devoured}}
    <li>
  	  <p><span class="label"></span> {{this.selection}}</p>
      <button data-id="{{this.id}}" class="devour">Devour</button>
  	</li>
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="eaten">
<ul>
  {{#each menu}}
    {{#if devoured}}
    <li>
  	  <p><span class="label"></span> {{this.selection}}</p>
  	</li>
    {{/if}}
  {{/each}}
</ul>
<br>
</div>

<script>
$(function() {

  $(".create-form").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      selection: $("#newBurger").val().trim(),
      devoured: 0
    };

    // Send the POST request.
    $.ajax("/api/quotes", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new menu selection");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".devour").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var devoured = {
      devoured: true,
    };

    var id = $(this).data("id");

    // Send the POST request.
    $.ajax("/api/menu/", {
      type: "PUT",
      data: devoured
    }).then(
      function() {
        console.log("updated burger status");
        // Reload the page to get the updated list
        location.assign("/");
      }
    );
  });
});


</script>