<div class="image-cropper">
    <img src="https://vignette.wikia.nocookie.net/simpsons-restaurants/images/5/5c/Krusty_Burger.png/revision/latest?cb=20131028010721"
        alt="avatar" class="profile-pic">
</div>

<h1>Welcome!</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <p>Be sure to participate in our Krusty Burger Olympic Sweepstakes! Just scratch off the name of the Olympic
                event on your game card, and if America wins a gold medal, YOU win a free Krusty Burger!</p>

        </div>