<div class="image-cropper">
    <img src="https://vignette.wikia.nocookie.net/simpsons-restaurants/images/5/5c/Krusty_Burger.png/revision/latest?cb=20131028010721"
        alt="avatar" class="profile-pic">
</div>

<h1>Welcome!</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <p>Be sure to participate in our Krusty Burger Olympic Sweepstakes! Just scratch off the name of the Olympic
                event on your game card, and if America wins a gold medal, YOU win a free Krusty Burger!</p>

        </div>

        <button class="submit-btn">Build a burger</button>
        <button class="submit-btn">Eat this burger</button>

    </div>
</div>

<ul>
  {{#each menu}}
    {{#if devoured}}
    <li>
  	  <p><span class="label">Menu</span> {{this.selection}}</p>
  	</li>
    {{/if}}
  {{/each}}
</ul>
<br>
<div height="500px" style="{background-color:red}"></div>
<ul>
  {{#each menu}}
    {{#unless devoured}}
    <li>
  	  <p><span class="label">Menu</span> {{this.selection}}</p>
      <button data-id="{{this.id}}" class="devour">Devour</button>
  	</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="newburger">
  </div>

  <button type="submit">Add Burger</button>
</form>
